
section main {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

main .recent-transaction {
  grid-column: 4 / 6;
  grid-row: 1 / -1;
}

main .analytics {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

main div {
  padding: 10px;
}

.Income > h2,
.Expense > h2,
.Balance > h2 {
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 2rem;
}

.Income p,
.Expense p,
.Balance p {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin: 20px 0px;
}

main .Income {
  background-color: #08CE08;
  color: white;
}

main .Expense {
  background-color: #FF0808;
  color: white;
}

main .Balance {
  background-color: green;
}

main .recent-transaction {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 0px;
}

.recent-transaction .header {
  height: 70px;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.recent-transaction .header svg {
  height: 60%;
}

.recent-transaction .header h1 {
  font-size: clamp(1rem 9vw 2rem);
}

.recent-transaction .transactions {
  width: 90%;
  height: 100%;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  overflow: auto;
}

.transactions .transaction {
  border-radius: 50px;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 30px;
}

.transaction img {
  height: 40px;
  justify-self: end;
}

.transaction .transaction-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  text-align: center;
}

.transaction p {
  margin: 0px;
  color: white;
}

.transaction-name {
  font-weight: 600;
  font-size: 1.5rem;
}

.transaction .transaction-amount {
  font-weight: 700;
  font-size: 1.1rem;
}








.analytics {
  display: flex;
  justify-content: center;
}


.analytics #myChart {
  width: 100%;
  height: 100%;
}