
aside {
  width: 350px;
  background-color: green;
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
  
  transition: all 0.3s;
}

aside.collapse {
  width: 100px;
  padding: 20px 0px 20px 5px;
}

aside > img {
  width: 40px;
  position: absolute;
  right: 20px;
  transform: rotate(180deg);
  z-index: 2;
  
  transition: all 0.3s;
}

aside > img.collapse {
  transform: rotate(0deg);
}

aside > h1 {
  font-family: "Oswald";
  padding-top: 80px;
  color: white;
  font-size: 3rem;
  margin: 0px;
  text-align: center;
}

aside .nav {
  margin-top: 70px;
  padding: 0px 20px;
  list-style: none;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

aside .nav.collapse {
  padding: 0px;
}

aside .nav li {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: white;
  font-weight: 500;
  padding: 3px 30px;
}

.nav li .icon {
  width: 2.5rem;
}

.nav li p {
  margin: 0px;
  font-size: 2rem;
}

.nav li p.collapse {
  display: none;
}

.user-profile {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 20px;
  align-items:center;
}

.user-profile .profile-pic {
  background-color: wheat;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.user-profile .name {
  font-size: 1.8rem;
  margin: 0px;
  font-weight: 500;
  color: white;
}

.user-profile .name.collapse {
  display: none;
}








section {
  width: calc(100% - 350px);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: green;
}

section.collapse {
  width: calc(100% - 100px);
}

section>h1 {
  height: 50px;
  font-size: 3rem;
  margin: 0px;
  padding: 20px;
  font-family: "Work sans";
  grid-column: 1 / -1;
  background-color: green;
  color: white;
  text-align: center;
}

section main {
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
  max-height: calc(100% - 100px);
  width: 99%;
}

main div {
  color: white;
  box-shadow: 0px 6px 15px rgb(0, 0, 0, 0.15);
  border-radius: 20px;
}